.formContainer {
  max-width: 1080px;
  margin: 4rem auto;
  padding: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;

  .formInfo {
    .logo {
      width: 12rem;
    }
    h1 {
      margin-top: 4rem;
      margin-bottom: 1rem;
    }
    p {
      padding-right: 5rem;
      color: var(--text-primary);
    }

    button {
      margin-top: 5rem;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        margin-left: 1rem;
      }
    }
  }
  .formInputs {
    input,
    textarea {
      width: 100%;

      margin: 0.25rem 0;

      height: 3rem;

      border: 0;
      border-radius: 0.25rem;

      &::placeholder {
        color: var(--text-secondary);

        font-size: 1rem;
        padding: 1rem;
      }
    }
    textarea {
      height: 8rem;
      min-height: 4rem;
      outline: 0;
      resize: vertical;
    }

    button {
      font-size: 1rem;

      margin-top: 1rem;
      border: 1.5px solid #dcdce6;
      height: 3rem;
      width: 100%;
      border-radius: 0.25rem;

      &[type="submit"] {
        border: 0;
        color: var(--background);
        background: var(--red);
      }
    }
  }
}
